.float-down{
    opacity: 0;
    animation: float-down 1s ease-in 1s forwards;
}
.fade-left{
    opacity: 0;
    animation: fade-left 2s ease-in 6s forwards;
}
.fade-right{
    animation: fade-right 2s ease-in forwards;
}
.fade-in{
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}
@keyframes float-down {
    from{
        filter: blur(5px);
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        filter: blur(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    from{
        filter: blur(5px);
        transform: translatex(-100%);
        opacity: 0;
    }
    to{
        filter: blur(0);
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes fade-right {
    from{
        filter: blur(5px);
        transform: translatex(100%);
    }
    to{
        filter: blur(0);
        transform: translatex(0);
    }
}
@keyframes fade-in {
    from{
        filter: blur(5px);
        opacity: 0;
    }
    to{
        filter: blur(0);
        opacity: 1;
    }
}